aws/credentials
aws/config_vars.yml
aws/env/extravars
aws/artifacts
scenario/scenario2/services/__pycache__/inscription.cpython-311.pyc
scenario/scenario1/services/__pycache__/inscription.cpython-311.pyc
guacamole/ec2_adress.txt
scenario/__pycache__/inscription.cpython-311.pyc
guacamole/ec2_adress.txt.26424.2024-04-06@105412~
guacamole/ec2_adress.txt.28061.2024-04-06@113715~
credentials
guacamole/init/*
guacamole/data/*